@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AletheiaDisplay-Regular";
  src: url("./assets/fonts/Cinzel-Regular.ttf");
}

@font-face {
  font-family: "AletheiaDisplay-SemiBold";
  src: url("./assets/fonts/Cinzel-SemiBold.ttf");
}

@font-face {
  font-family: "AletheiaBody-Regular";
  src: url("./assets/fonts/EBGaramond-Regular.ttf");
}

@font-face {
  font-family: "AletheiaBody-Medium";
  src: url("./assets/fonts/EBGaramond-Medium.ttf");
}

@font-face {
  font-family: "AletheiaBody-Italic";
  src: url("./assets/fonts/EBGaramond-Italic.ttf");
}

/* Force Mobile Layout on Web */
@media (min-width: 430px) {
  body {
    background-color: #000 !important;
  }
  #root {
    max-width: 430px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    height: 100dvh;
    overflow: hidden;
  }
}
